{% extends 'base.html.twig' %}

{% block title %}Boeken{% endblock %}

{% block body %}
    <h1>Boeken</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ boeken.id }}</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>{{ boeken.Titel }}</td>
            </tr>
            <tr>
                <th>Voorraad</th>
                <td>{{ boeken.Voorraad }}</td>
            </tr>
            <tr>
                <th>Filiaal</th>
                <td>{{ boeken.Filiaal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('boeken_index') }}">back to list</a>

    <a href="{{ path('boeken_edit', {'id': boeken.id}) }}">edit</a>

    {{ include('boeken/_delete_form.html.twig') }}
{% endblock %}
